@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bring in the fonts */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Custom Styles */
* {
    font-family: "IBM Plex Mono", monospace;
}

:focus,
button:focus {
    outline: none;
}

body {
    @apply bg-primarybg p-0 m-0;
}

.footer-tile {
    @apply h-9 w-20 flex items-center justify-center;
}

.head {
    width: 60%;
}

/* purgecss ignore */
pre {
    padding: 1.5rem;
    font-weight: normal;
    background-color: #292A2E !important;
    overflow-x: auto;
}

.content {
    color: white;
    margin-bottom: 8rem;
}

/* purgecss ignore */
blockquote {
    border-left: 5px solid #292A2E;
    padding-inline: 10px;
    margin: 0px;
}

/* purgecss ignore */
code {
    font-style: italic;
    font-weight: 900;
    @apply text-red;
}

/* purgecss ignore */
.content h1 {
    font-size: clamp(1.4rem, 3vw, 2.2rem);
}

/* purgecss ignore */
.content h2 {
    font-size: clamp(0.8rem, 1.5vw, 1.6rem);
}

/* purgecss ignore */
.content p {
    line-height: 2rem;
}