<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{.Blog.Title}}</title>
    <link rel="stylesheet" href="/static/tailwind.g.css" />
  </head>

  <body>
    {{template "templates/components/header" .}}
    <main class="px-4 py-4 lg:px-32 lg:py-8">
      <h1 class="font-bold">{{.Blog.Title}}</h1>
      <h3 class="font-bold">
        > By - <span class="text-lime-500">{{.Blog.Author}}</span>
      </h3>
      <h3 class="font-bold">
        > On - <span class="text-lime-500">{{.Blog.PublishDate}}</span>
      </h3>
      <h3 class="font-bold">> Tags - {{range .Blog.Tags}} #{{.}} {{end}}</h3>
      <hr class="border border-dashed mt-8" />
      <div class="py-8 font-semibold content">{{unescape .Blog.Content}}</div>
    </main>
    {{template "templates/components/footer" .Go }}
  </body>
</html>
