<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/static/favicon.svg" type="image/x-icon" />
  <title>{{.Blog.Title}}</title>
  <link rel="stylesheet" href="/static/tailwind.g.css" />
</head>

<body>
  <div class="mx-auto head">
    <h1 class="text-white text-center mx-0">
      {{.Blog.Title}}
    </h1>
    <div class="bg-secondarybg h-9 flex items-center justify-between px-4">
      <p class="text-green font-semibold">By - {{.Blog.Author}}</p>
      <p class="text-blue font-semibold">{{.Blog.SkimTime}} Mins Read</p>
    </div>
    <hr class="border-hr border-dashed mx-5" />
    <div class="content">
      {{unescape .Blog.Content}}
    </div>
  </div>
  <div class="mt-14 bg-primarybg fixed bottom-0 left-0 right-0">
    <div class="">
      {{template "templates/components/footer" .Go }}
    </div>
  </div>
</body>

</html>