<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Sumit's Blog | Home</title>
  <link rel="stylesheet" href="/static/tailwind.g.css" />
  <link rel="shortcut icon" href="/static/favicon.svg" type="image/x-icon" />

  <!-- Primary Meta Tags -->
  <meta name="title" content="Sumit Kumar | Blog" />
  <meta name="description"
    content="Hi, I am a young, driven Software Engineer. I love working on anything software. On this blog, I write about all my adventures in the software world." />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://imsk17.tech/blog" />
  <meta property="og:title" content="Sumit Kumar | Blog" />
  <meta property="og:description"
    content="Hi, I am a young, driven Software Engineer. I love working on anything software. On this blog, I write about all my adventures in the software world." />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://imsk17.tech/blog" />
  <meta property="twitter:title" content="Sumit Kumar | Blog" />
  <meta property="twitter:description"
    content="Hi, I am a young, driven Software Engineer. I love working on anything software. On this blog, I write about all my adventures in the software world." />
</head>

<body>
  {{ template "templates/components/header" .}}
  <hr class="border-hr border-dashed my-4" />
  {{if .NoBlogs}}

  <h1 class="font-bold text-2xl text-center">
    Sorry, I am lazy, I also can't write.
  </h1>

  {{else}}
  <div class="flex flex-col">
    <h1 class="m-0 p-0 text-green">
      >> <span class="line-through">b</span>logs
    </h1>
    {{ range .Blogs }}
    <div>{{template "templates/components/card" .}}</div>
    {{ end }}
  </div>
  {{end}}

  <div class="mt-14 bg-primarybg fixed bottom-0 left-0 right-0">
    {{ template "templates/components/footer" .Go}}
  </div>
</body>

</html>