<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/static/favicon.svg" type="image/x-icon" />
  <title>{{.Blog.Title}} | imsk17's Blog </title>
  <link rel="stylesheet" href="/static/tailwind.g.css" />

  <!-- Primary Meta Tags -->
  <meta name="title" content="{{.Blog.Title}} | imsk17's Blog" />
  <meta name="description" content="{{.Blog.Summary}}" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://blog.imsk17.tech/{{.Blog.Href}}" />
  <meta property="og:title" content="{{.Blog.Title}} | imsk17's Blog" />
  <meta property="og:description" content="{{.Blog.Summary}}" />

  <!-- Twitter -->
  <meta property="twitter:url"  content="https://blog.imsk17.tech/{{.Blog.Href}}" />
  <meta property="twitter:title" content="{{.Blog.Title}} | imsk17's Blog" />
  <meta property="twitter:description" content="{{.Blog.Summary}}" />
</head>

<body class="sm:p-2 md:p-0 lg:p-0">
  <div class="mx-auto sm:w-max md:w-4/5 lg:w-2/3">
    <div>
      <h1 class="text-white text-2xl md:text-3xl lg:text-4xl text-center mx-0">
        {{.Blog.Title}} </h1>
    </div>
    <div class="bg-secondarybg h-9 flex items-center justify-between px-4">
      <p class="text-green font-semibold">{{.Blog.Author}}</p>
      <p class="text-blue font-semibold">{{.Blog.SkimTime}} Mins Read</p>
    </div>
    <hr class="border-hr border-dashed" />
    <div class="content px-4 md:p-0">
      {{unescape .Blog.Content}}
    </div>
  </div>
  <div class="mt-14 bg-primarybg fixed bottom-0 left-0 right-0">
    <div>
      {{template "templates/components/footer" .Go }}
    </div>
  </div>
</body>

</html>