<div class="flex flex-col content-between border border-black shadow-sharp-xl uppercase">
    <div class="p-4 bg-black h-26">
        <p>
            <strong class="text-lime-500 text-xl font-bold">
                {{.Title}}
            </strong>
        </p>
        <div class="flex justify-between align-bottom">
            <p class="text-white uppercase">{{.PublishDate}} </p>
            <p class="text-white uppercase">{{.SkimTime}} </p>
        </div>
    </div>
    <div class="flex justify-between m-4">
        <div>
            <div class="grid grid-cols-2 grid-rows-2 gap-3">
                {{range .Tags}}
                {{template "templates/components/tag" .}}
                {{end}}
            </div>
        </div>
        <div>
            <button class="bg-lime-500 text-lg border px-1 sm:px-4 border-black shadow-sharp-lg h-full ">
                <strong>READ NOW</strong>
            </button>
        </div>
    </div>
</div>