<footer>
  <div class="flex justify-between font-medium h-9 w-screen bg-secondarybg">
    <div class="footer-tile bg-green">
      <p>NORMAL</p>
    </div>
    <div class="flex">
      <div class="footer-tile bg-blue">
        <p>LF</p>
      </div>
      <div class="footer-tile bg-yellow">
        <p>MAIN</p>
      </div>
      <div class="footer-tile bg-pink">
        <p>UTF-8</p>
      </div>
      <div class="footer-tile bg-green">
        <p>IMSK17</p>
      </div>
    </div>
  </div>
  <div class="flex justify-between font-semibold text-white px-4">
    <p>Copyright © Sumit Kumar 2021</p>
    <p>Served by
      <span class="text-blue">
        /gob-log
      </span>
    </p>
  </div>
</footer>