<footer class="bottom-0 fixed left-0 right-0 text-base md:text-lg lg:text-lg">
    <div class="flex justify-between items-center h-auto bg-black text-white p-4">
        <div class="flex flex-col">
            <strong>
                Served by: <span class="text-lime-500">/gob-log</span>
            </strong>
            <strong>
                Go version: <span class="text-lime-500">{{.}}</span>
            </strong>
        </div>
        <div>
            <strong class="text-center">
                Blog by:
                <span class="text-lime-500">
                    imsk17
                </span>
            </strong>
            <br />
            <strong>
                My Git:
                <a class="text-lime-500 underline" href="https://github.com/imsk17">here</a>
            </strong>
        </div>
    </div>
</footer>